{% extends 'turfuser/partials/base.html' %}

{% load static %}

{% block content %}



  <!-- ==== banner start ==== -->
  <section class="banner--inner">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="banner--inner__content">
            <h2>Contact Us</h2>
          </div>
        </div>
        <div class="col-md-6">
          <div class="banner--inner__breadcrumb d-flex justify-content-start justify-content-md-end">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'turfuser:index' %}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                  Contact Us
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ==== / banner end ==== -->

  <!-- ==== contact section start ==== -->
  <section class="section contact wow fadeInUp" data-wow-duration="0.4s">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-7">
          <div class="section__header">
            <h2 class="section__header-title">Contact Us</h2>
            <p>
              For any enquiry and complaints,call our customer support 
            </p>
          </div>
        </div>
      </div>
      <div class="row justify-content-center section__row">
        <div class="col-sm-6 col-lg-4 col-xl-4 section__col">
          <div class="contact__item">
            <div class="contact__item-thumb">
              <i class="golftio-phone"></i>
            </div>
            <div class="contact__item-content">
              <h5>Call Now</h5>
              <p class="secondary-text">+91 9201234565</p>
              <p class="secondary-text">+91 8075456565</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-4 section__col">
          <div class="contact__item">
            <div class="contact__item-thumb">
              <i class="golftio-email"></i>
            </div>
            <div class="contact__item-content">
              <h5>Email Address</h5>
              <p class="secondary-text"><a href="https://gmail.com">turfitsupport@gmail.com</a></p>
              <p class="secondary-text"><a href="https://gmail.com">turfitcomplaints@gmail.com</a></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-4 section__col">
          <div class="contact__item">
            <div class="contact__item-thumb">
              <i class="golftio-pin-location"></i>
            </div>
            <div class="contact__item-content">
              <h5>Location</h5>
              <p class="secondary-text"><b>Turf owners association</b></p>
              <p class="secondary-text">NH 66 near G mall,Kannur</p>
              
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ==== / contact section end ==== -->

  <!-- ==== contact form start ==== -->
  <section class="section contact-form">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-7">
          <div class="section__header">
            <h2 class="section__header-title">Get in touch with us.</h2>
            <p>Fill up the form and our team will get back to you within 24 hours</p>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-xl-8">
          <div class="contact-form__inner">
            <form action="#" method="post">
              <div class="input-group">
                <div class="input-single">
                  <label for="contactFirstName">First name</label>
                  <input type="text" name="contact-first-name" id="contactFirstName" required
                    placeholder="Enter your first name">
                </div>
                <div class="input-single">
                  <label for="contactLastName">Last name</label>
                  <input type="text" name="contact-last-name" id="contactLastName" required
                    placeholder="Enter your last name">
                </div>
              </div>
              <div class="input-group">
                <div class="input-single">
                  <label for="contactEmail">Email</label>
                  <input type="email" name="contact-email" id="contactEmail" required placeholder="Enter your email">
                </div>
                <div class="input-single">
                  <label for="contactPhone">Phone</label>
                  <input type="text" name="contact-phone" id="contactPhone" required placeholder="Enter your phone">
                </div>
              </div>
              <div class="input-single">
                <label for="contactMessage">Message</label>
                <textarea name="contact-message" id="contactMessage" cols="30" rows="4"
                  placeholder="I would like to get in touch with you..."></textarea>
              </div>
              <div class="section__cta">
                <button type="submit" class="cmn-button">Send Message</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ==== / contact form end ==== -->

  <!-- ==== google map start ==== -->
  <!--
  <div class="map-wrapper">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20342.411046372905!2d-74.16638039276373!3d40.719832743885284!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sbd!4v1649562691355!5m2!1sen!2sbd"
      width="100" height="800" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>-->
  <!-- ==== / google map end ==== -->

  <!-- ==== sponsor section start ==== --><!--
  <div class="sponsor wow fadeInUp" data-wow-duration="0.4s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="sponsor__inner">
            <div class="sponsor__inner-card">
              <img src="{% static 'turfuser/images/sponsor/one.png' %}" alt="Sponsor">
            </div>
            <div class="sponsor__inner-card">
              <img src="{% static 'turfuser/images/sponsor/two.png' %}" alt="Sponsor">
            </div>
            <div class="sponsor__inner-card">
              <img src="{% static 'turfuser/images/sponsor/three.png' %}" alt="Sponsor">
            </div>
            <div class="sponsor__inner-card">
              <img src="{% static 'turfuser/images/sponsor/four.png' %}" alt="Sponsor">
            </div>
            <div class="sponsor__inner-card">
              <img src="{% static 'turfuser/images/sponsor/five.png' %}" alt="Sponsor">
            </div>
            <div class="sponsor__inner-card">
              <img src="{% static 'turfuser/images/sponsor/six.png' %}" alt="Sponsor">
            </div>
            <div class="sponsor__inner-card">
              <img src="{% static 'turfuser/images/sponsor/one.png' %}" alt="Sponsor">
            </div>
            <div class="sponsor__inner-card">
              <img src="{% static 'turfuser/images/sponsor/one.png' %}" alt="Sponsor">
            </div>
            <div class="sponsor__inner-card">
              <img src="{% static 'turfuser/images/sponsor/two.png' %}" alt="Sponsor">
            </div>
            <div class="sponsor__inner-card">
              <img src="{% static 'turfuser/images/sponsor/three.png' %}" alt="Sponsor">
            </div>
            <div class="sponsor__inner-card">
              <img src="{% static 'turfuser/images/sponsor/four.png' %}" alt="Sponsor">
            </div>
            <div class="sponsor__inner-card">
              <img src="{% static 'turfuser/images/sponsor/five.png' %}" alt="Sponsor">
            </div>
            <div class="sponsor__inner-card">
              <img src="{% static 'turfuser/images/sponsor/six.png' %}" alt="Sponsor">
            </div>
            <div class="sponsor__inner-card">
              <img src="{% static 'turfuser/images/sponsor/one.png' %}" alt="Sponsor">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>-->
  <!-- ==== / sponsor section end ==== -->

  {% endblock %}