{% extends 'turfuser/partials/base.html' %}

{% load static %}

{% block content %}



  <!-- ==== banner start ==== -->
  <section class="banner--inner">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="banner--inner__content">
            <h2>Gallery</h2>
          </div>
        </div>
        <div class="col-md-6">
          <div class="banner--inner__breadcrumb d-flex justify-content-start justify-content-md-end">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Pages</li>
                <li class="breadcrumb-item active" aria-current="page">
                  Gallery
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ==== / banner end ==== -->

  <section class="section event wow fadeInUp" data-wow-duration="0.4s">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section__header--secondary">
                    <div class="row align-items-center">
                        <div class="col-lg-8">
                            <div class="section__header--secondary__content">
                                <h5>Tournaments</h5>
                                <h2>Our upcoming tournaments</h2>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center section__row">
            {% for events in events %}
            <div class="col-sm-10 col-md-6 section__col">
                <div class="event__single">
                    <div class="event__single-thumb">
                        <a href="sign-up.html">
                            <img src="{{events.event_image.url}}" alt="Image">
                        </a>
                    </div>
                    <div class="event__single-content">
                        <h3>{{events.date}}</h3>
                        <p>{{events.time}}</p>
                        <h5>{{events.event_title}}</h5>
                        <p class="secondary-text"><i class="golftio-location"></i> {{events.turf}}</p>
                        <p>{{events.entry_fee}}</p>
                        <a href="{% url 'turfuser:event_details' events.id %}" class="cmn-button">Join Now</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

  <!-- ==== gallery slider section start ==== -->
  <section class="gallery-slider section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section__header--secondary">
            <div class="row align-items-center">
              <div class="col-lg-8">
                <div class="section__header--secondary__content">
                  <h2>Horizontal scrolling</h2>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="section__header--secondary__cta">
                  <div class="slider-navigation justify-content-lg-end">
                    <button class="next-gallery cmn-button cmn-button--secondary">
                      <i class="fa-solid fa-angle-left"></i>
                    </button>
                    <button class="prev-gallery cmn-button cmn-button--secondary">
                      <i class="fa-solid fa-angle-right"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="gallery-slider__wrapper">
      <div class="gallery-slider__single">
        <img src="{% static 'turfuser/images/gallery/six.png' %}" alt="Gallery">
      </div>
      <div class="gallery-slider__single">
        <img src="{% static 'turfuser/images/gallery/seven.png' %}" alt="Gallery">
      </div>
      <div class="gallery-slider__single">
        <img src="{% static 'turfuser/images/gallery/eight.png' %}" alt="Gallery">
      </div>
      <div class="gallery-slider__single">
        <img src="{% static 'turfuser/images/gallery/nine.png' %}" alt="Gallery">
      </div>
      <div class="gallery-slider__single">
        <img src="{% static 'turfuser/images/gallery/ten.png' %}" alt="Gallery">
      </div>
      <div class="gallery-slider__single">
        <img src="{% static 'turfuser/images/gallery/eleven.png' %}" alt="Gallery">
      </div>
      <div class="gallery-slider__single">
        <img src="{% static 'turfuser/images/gallery/six.png' %}" alt="Gallery">
      </div>
      <div class="gallery-slider__single">
        <img src="{% static 'turfuser/images/gallery/seven.png' %}" alt="Gallery">
      </div>
      <div class="gallery-slider__single">
        <img src="{% static 'turfuser/images/gallery/eight.png' %}" alt="Gallery">
      </div>
      <div class="gallery-slider__single">
        <img src="{% static 'turfuser/images/gallery/nine.png' %}" alt="Gallery">
      </div>
      <div class="gallery-slider__single">
        <img src="{% static 'turfuser/images/gallery/ten.png' %}" alt="Gallery">
      </div>
      <div class="gallery-slider__single">
        <img src="{% static 'turfuser/images/gallery/eleven.png' %}" alt="Gallery">
      </div>
    </div>
  </section>
  <!-- ==== / gallery slider section end ==== -->

  <!-- ==== gallery popup start ==== -->
  <section class="section gallery-popup">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-7">
          <div class="section__header">
            <h2 class="section__header-title">Golf Club Video</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="gallery-popup__content wow fadeInUp" data-wow-duration="0.4s">
            <img src="{% static 'turfuser/images/gallery-modal.png' %}" alt="Gallery">
            <div class="play-wrapper">
              <a href="https://www.youtube.com/watch?v=RvreULjnzFo" target="_blank" title="Youtube Video Player"
                class="play-btn">
                <i class="fa-solid fa-play"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ==== / gallery popup end ==== -->

  {% endblock %}