{% extends 'turfuser/partials/base.html' %}

{% load static %}

{% block content %}


    <!-- ==== banner section start ==== -->
    <section class="banner--secondary">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 col-xl-7">
                    <div class="banner__content wow fadeInUp" data-wow-duration="0.4s">
                        <h5 class="banner__content-sub-title">Your
                            nearest
                            Sports community
                            is just a Tap away</h5>
                        <h1 class="banner__content-title">Get the best sports experience</h1>
                        <p class="primary-text banner__content-text">TURFiT has
                            presence in 150+ cities across Kerala join with the largest sports ground management solution</p>
                        <div class="banner__content-cta">
                            <a href="{% url 'turfuser:turfs' %}" class="cmn-button">Book Now</a>
                            <a href="{% url 'turfuser:about' %}" class="cmn-button cmn-button--secondary">About Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ==== / banner section end ==== -->

    <!-- ==== facility section start ==== -->
    <section class="section facility wow fadeInUp" data-wow-duration="0.4s">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="section__header">
                        <h5 class="section__header-sub-title">Games</h5>
                        <h2 class="section__header-title">Available Games</h2>
                        <p>Let's play your favourite sport</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-10 col-lg-12">
                    <div class="facility__slider">
                        <div class="facility__card">
                            <div class="facility__card-icon">
                                <i class="golftio-ball"></i>
                            </div>
                            <div class="facility__card-content">
                                <h5><a href="facility-details.html">Cricket</a></h5>
                                <p class="secondary-text">Lorem Ipsum is simply dummy text of the printing...</p>
                            </div>
                        </div>
                        <div class="facility__card">
                            <div class="facility__card-icon">
                                <i class="golftio-shot-great-upper"></i>
                            </div>
                            <div class="facility__card-content">
                                <h5><a href="facility-details.html">Football</a></h5>
                                <p class="secondary-text">Lorem Ipsum is simply dummy text of the printing...</p>
                            </div>
                        </div>
                        <div class="facility__card">
                            <div class="facility__card-icon">
                                <i class="golftio-gym"></i>
                            </div>
                            <div class="facility__card-content">
                                <h5><a href="facility-details.html">Volley ball</a></h5>
                                <p class="secondary-text">Lorem Ipsum is simply dummy text of the printing...</p>
                            </div>
                        </div>
                        <div class="facility__card">
                            <div class="facility__card-icon">
                                <i class="golftio-flag"></i>
                            </div>
                            <div class="facility__card-content">
                                <h5><a href="facility-details.html">Badminton</a></h5>
                                <p class="secondary-text">Lorem Ipsum is simply dummy text of the printing...</p>
                            </div>
                        </div>
                        <div class="facility__card">
                            <div class="facility__card-icon">
                                <i class="golftio-ball"></i>
                            </div>
                            <div class="facility__card-content">
                                <h5><a href="facility-details.html">Tennis</a></h5>
                                <p class="secondary-text">Lorem Ipsum is simply dummy text of the printing...</p>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="slider-navigation">
                        <button class="next-facility cmn-button cmn-button--secondary">
                            <i class="fa-solid fa-angle-left"></i>
                        </button>
                        <button class="prev-facility cmn-button cmn-button--secondary">
                            <i class="fa-solid fa-angle-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ==== / facility section end ==== -->




    <!-- ==== event section start ==== -->
    <section class="section event wow fadeInUp" data-wow-duration="0.4s">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section__header--secondary">
                        <div class="row align-items-center">
                            <div class="col-lg-8">
                                <div class="section__header--secondary__content">
                                    <h5>Tournaments</h5>
                                    <h2>Our upcoming tournaments</h2>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="section__header--secondary__cta">
                                    <a href="{% url 'turfuser:events' %}" class="cmn-button">See All Event</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center section__row">
                {% for events in events %}
                <div class="col-sm-10 col-md-6 section__col">
                    <div class="event__single">
                        <div class="event__single-thumb">
                            <a href="sign-up.html">
                                <img src="{{events.event_image.url}}" alt="Image">
                            </a>
                        </div>
                        <div class="event__single-content">
                            <h3>{{events.date}}</h3>
                            <p>{{events.time}}</p>
                            <h5>{{events.event_title}}</h5>
                            <p class="secondary-text"><i class="golftio-location"></i> {{events.turf}}</p>
                            <p>{{events.entry_fee}}</p>
                            <a href="{% url 'turfuser:event_details' events.id %}" class="cmn-button">Join Now</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- ==== / event section end ==== -->




    {% endblock %}

    