{% extends 'turfuser/partials/base.html' %}

{% load static %}

{% block content %}


<!-- ==== banner start ==== -->
<section class="banner--inner">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="banner--inner__content">
          <h2>Replies</h2>
        </div>
      </div>
      <div class="col-md-6">
        <div class="banner--inner__breadcrumb d-flex justify-content-start justify-content-md-end">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'turfuser:index' %}">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                Enquiry Reply
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ==== / banner end ==== -->



<!-- ==== cart start ==== -->
<div class="section cart" style="padding-top: 40px !important;">

  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="cart__wrapper wow fadeInUp" data-wow-duration="0.4s">
          <div class="cart-items-wrapper">
            <table>
              <thead>
                <tr>
                  <th>Message</th>
                  <th>Reply</th>
                  <th>Remove</th>
                </tr>
              </thead>
              {% for reply in reply %}
              <tbody>
                <tr class="cart-item">
                  <td class="cart-item-price">
                    <span class="base-price">{{reply.message}}</span>
                  </td>
                  {% if reply.reply == "True" %}
                  <td class="cart-item-price">
                    <span class="base-price">No reply</span>
                  </td>
                  {% else %}
                  <td class="cart-item-price">
                    <span class="base-price">{{reply.reply}}</span>
                  </td>
                  {% endif %}
                  <td>
                    <button> <a href="{% url 'turfuser:remove_reply' reply.id %}">Remove</a> </button>
                  </td>
                  

                </tr>
              </tbody>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ==== / cart end ==== -->



{% endblock %}