{% extends 'turfuser/partials/base.html' %}

{% load static %}

{% block content %}


    <!-- ==== banner start ==== -->
    <section class="banner--inner">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="banner--inner__content">
                        <h2>{{turf.turf_name}}</h2>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="banner--inner__breadcrumb d-flex justify-content-start justify-content-md-end">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'turfuser:index' %}">Home</a></li>
                                <li class="breadcrumb-item"><a href="{% url 'turfuser:turfs' %}">Turfs</a></li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    {{turf.turf_name}}
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ==== / banner end ==== -->

    <!-- ==== product description section start ==== -->
    <section class="section product-description">
        <div class="container">
            <div class="row align-items-center section__row">
                <div class="col-lg-6 section__col">
                    <div class="product-description__thumb">
                        <img src="{{turf.turf_image.url}}" alt="Turf Image">
                    </div>
                </div>
                <div class="col-lg-6 col-xl-5 offset-xl-1 section__col">
                    <div class="product-description__content">
                        <div class="product-description__content-head">
                            <div>
                                <h5>{{turf.turf_name}}</h5>
                                <p>{{turf.turf_place}}</p>
                            </div>
                            <div class="review-product">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </div>
                        <div class="product-description__content-tab">
                            <div class="product-description-tab-btns">
                                
                                <a href="#productReviews" class="product-description-tab-btn">Games :</a>
                            </div>
                            {% for games in games %}
                            <h6>{{games.game}}</h6>
                            {% endfor %}
                        </div>
                        <div class="product-description__content-tab">
                            <div class="product-description-tab-btns">
                                
                                <a href="#productReviews" class="product-description-tab-btn">Available Slots :</a>
                            </div>
                            
                        </div>
                        <div class="product-description__content-footer">
                            <div class="product-pricing__cta">
                                {% for slots in slot %}
                                {% if slots.status == 0 %}
                                <p>{{slots.date_for_book}} >>></p>
                                <a href="{% url 'turfuser:book' slots.id %}" class="cmn-button cmn-button--secondary">{{slots.start_time}} - {{slots.end_time}}</a>
                                {% else %}
                                <p>{{slots.date_for_book}} >>></p>
                                <a class="cmn-button1 cmn-button1--secondary">{{slots.start_time}} - {{slots.end_time}}</a>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ==== / product description section end ==== -->



{% endblock %}