{% extends 'manager/partials/base.html' %}
{% block content %}
{% load static %}
<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Clients</h3>
                    <ul class="breadcrumb">
                        <li class=""><a href="#">Dashboard /</a></li>
                        <li class=""><a href="#">Clients /</a></li>
                        <li class="breadcrumb-item active">Add Clients</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Client Info</h4>
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}


                            <div class="row">
                                <div class="col-md-6">
                                   



                                    <div class="form-group">
                                        <label>Start Time</label>
                                        <input type="time" required class="form-control" id=""
                                            name="starttime" value="{{phone}}">
                                        <p id="pphone" style="color: red;"></p>
                                    </div>
                                    
                                    
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>End Time</label>
                                        <input type="time" required class="form-control" id=""
                                            name="endtime" value="{{phone}}">
                                        <p id="pphone" style="color: red;"></p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Rate</label>
                                        <input type="text" required class="form-control" id=""
                                            name="rate" value="{{phone}}">
                                        <p id="pphone" style="color: red;"></p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Date</label>
                                        <input type="date" required class="form-control min-date" id=""
                                            name="date">
                                        <p id="pphone" style="color: red;"></p>
                                </div>
                                </div>
                                
                                <button type="submit" class="btn btn-primary mr-1 mb-1 ">save</button>

                        </form>
                    </div>




                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $('#Savebuton').click(() => {
        if (!$('#client_name').val()) {
            $('#pname').html('Enter your name!')
        }
        else if (!$('#phone').val()) {
            $('#pphone').html('Enter your Phone!')
        }
        else if (!$('#address').val()) {
            $('#paddress').html('Enter your Address!')
        }
        else if (!$('#client_contact_type').val()) {
            $('#pcontact').html('Chooes One!')
        }
        else if (!$('#state').val()) {
            $('#pstate').html('Enter your State!')
        }
        else if (!$('#district').val()) {
            $('#pdistrict').html('Enter your District')
        }

        else if (!$('#source_of_work').val()) {
            $('#psource').html('Enter your Source of work')
        }
        else if (!$('#chance_of_confirm').val()) {
            $('#pchance').html('Enter your Chance of Confirmation')
        }
        else if (!$('#start_date').val()) {
            $('#pfrom').html('Enter your From Date')
        }
        else if (!$('#type_of_work').val()) {
            $('#ptype').html('Enter your Work Type')
        }
        else if (!$('#measurement').val()) {
            $('#parea').html('Enter your Area Meaurment')
        }
        else if (!$('#details_of_site').val()) {
            $('#pdetail').html('Enter your Area details_of_site')
        }

        else {
            $.ajax({
                url: "/accounts_admin/savecustomer/",
                type: 'post',
                data: {
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    'client_name': $('#client_name').val(),
                    'phone': $('#phone').val(),
                    'client_whsatpp': $('#client_whsatpp').val(),
                    'email': $('#email').val(),
                    'quotation_no': $('#quotation_no').val(),
                    'address': $('#address').val(),
                    'state': $('#state').val(),
                    'district': $('#district').val(),
                    'pincode': $('#pincode').val(),

                    'source_of_work': $('#source_of_work').val(),
                    'chance_of_confirm': $('#chance_of_confirm').val(),
                    'start_date': $('#start_date').val(),
                    'type_of_work': $('#type_of_work').val(),
                    'measurement': $('#measurement').val(),
                    'details_of_site': $('#details_of_site').val(),
                },
                success: function (responce) {
                    window.location.href = '/accounts_admin/customer';
                }


            })
        }


    })



    $('#Createbuton').click(() => {
        if (!$('#client_name').val()) {
            $('#pname').html('Enter your name!')
        }
        else if (!$('#phone').val()) {
            $('#pphone').html('Enter your Phone!')
        }
        else if (!$('#address').val()) {
            $('#paddress').html('Enter your Address!')
        }
        else if (!$('#client_contact_type').val()) {
            $('#pcontact').html('Chooes One!')
        }
        else if (!$('#state').val()) {
            $('#pstate').html('Enter your State!')
        }
        else if (!$('#district').val()) {
            $('#pdistrict').html('Enter your District')
        }

        else if (!$('#source_of_work').val()) {
            $('#psource').html('Enter your Source of work')
        }
        else if (!$('#chance_of_confirm').val()) {
            $('#pchance').html('Enter your Chance of Confirmation')
        }
        else if (!$('#start_date').val()) {
            $('#pfrom').html('Enter your From Date')
        }
        else if (!$('#type_of_work').val()) {
            $('#ptype').html('Enter your Work Type')
        }
        else if (!$('#measurement').val()) {
            $('#parea').html('Enter your Area Meaurment')
        }
        else if (!$('#details_of_site').val()) {
            $('#pdetail').html('Enter your Area details_of_site')
        }
        else {

            $.ajax({
                url: "/accounts_admin/estimatedata/",
                type: 'post',
                data: {

                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    'client_name': $('#client_name').val(),
                    'phone': $('#phone').val(),
                    'client_whsatpp': $('#client_whsatpp').val(),
                    'email': $('#email').val(),
                    'quotation_no': $('#quotation_no').val(),
                    'address': $('#address').val(),
                    'state': $('#state').val(),
                    'district': $('#district').val(),
                    'pincode': $('#pincode').val(),

                    'source_of_work': $('#source_of_work').val(),
                    'chance_of_confirm': $('#chance_of_confirm').val(),
                    'start_date': $('#start_date').val(),
                    'type_of_work': $('#type_of_work').val(),
                    'measurement': $('#measurement').val(),
                    'details_of_site': $('#details_of_site').val(),
                },
                success: function (responce) {
                    window.location.href = '/accounts_admin/addcustomer/?phone-no=' + responce.client.phone

                    $("#checkname").val(responce.client.phone)
                }



            })

        }

    })

    $('#phone').change(() => {

        $.ajax({
            url: "/accounts_admin/phoneexist/",
            type: 'post',
            data: {
                'phone': $('#phone').val()
            },
            success: function (responce) {

                if (responce.IsExist == true) {
                    document.getElementById('pphone').innerHTML = 'User Phone Number Already Exist '

                    $('#Savebuton').prop('disabled', true)
                    $('#Createbuton').prop('disabled', true)
                }
                else {
                    document.getElementById('pphone').innerHTML = ''
                    $('#Savebuton').prop('disabled', false)
                    $('#Createbuton').prop('disabled', false)
                }
            }

        })
    })

    $('.min-date').attr("min",new Date().toISOString().split('T')[0]);


</script>
{% endblock %}