<html lang="en">

{% load static %}
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Fun Turf Home</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static "vendor/bootstrap/css/bootstrap.min.css"%}"" rel="stylesheet">
  <link href="{% static "vendor/icofont/icofont.min.css"%}"" rel="stylesheet">
  <link href="{% static "vendor/boxicons/css/boxicons.min.css"%}"" rel="stylesheet">
  <link href="{% static "vendor/venobox/venobox.css"%}"" rel="stylesheet">
  <link href="{% static "vendor/owl.carousel/assets/owl.carousel.min.css"%}"" rel="stylesheet">
  <link href="{% static "vendor/aos/aos.css"%}"" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static "css/style.css"%}"" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Remember - v3.0.0
  * Template URL: https://bootstrapmade.com/remember-free-multipurpose-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>
    
      
        
</head>
<body>


<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark ">
    <div class="container">
      <a class="navbar-brand" style="margin-left:30%;" href="#">Fun Turf.com</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    </div>

    <div class="collapse navbar-collapse nav-menu d-none d-lg-block" style="margin-left:600px;" id="navbarText">

      <ul>

        <li ><a href="{% url 'slot_add' %}">Home</a></li>
          <li ><a href="{% url 'booking_confirm' %}"> Booking</a></li>

          <li ><a href="{% url 'logout_page_manager' %}" onclick="return show_alert()" > Log out</a></li>





      </ul>


    </div>
  </nav>

  
  
  

      
          
  
          

          <main id="main">

    

            <section id="contact" class="inner-page contact">
              <div class="container">
                

                <div class="section-title" >
                  <h2>  Confirm Booking </h2>
                  
                  
                </div>
        
               
        
                <div >
        
                  {% if messages %}
                    <ul class="alert alert-danger">
                        {% for message in messages %}
                               {{ message }}
                        {% endfor %}
                    </ul>
                    {% endif %}
                 
                  <div >
                    
                        
                                    <div style=" font-size:25px;">
                
                                       
                                        <table class="table table-bordered" class="scrollmenu">
                                          <thead>
                                            <tr>
                                                
                                                <th>Sl No</th>
                                                <th> Name</th>
                                                <th>Location</th>
                                                <th>Phone Number</th>
                                                
                                                
                                                <th> Booking Date</th>
                                                <th>Slot</th>
                                                <th colspan="2">Action</th>
                                                <th >Status</th>
                                                <th colspan="2">Check In Time</th>
                                                <th>Time</th>
                                                <th colspan="2">Check Out Time</th>
                                                <th>Time</th>

      
                                                
                                                
                                                
                                                
                                                
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                                  
                                          {% for x in booking_updates %}
                                           <tr>
                                               
                                            <td>{{forloop.counter}}</td>
                                               <td>{{x.customer_name}}</td>
                                               <td>{{x.location}}</td>
                                               <td>{{x.phone}}</td>
                                               <td>{{x.booking_date}}</td>
                                               <td>Slot{{x.slot_number}}</td>
                                               <form action="" method="POST">
                                                {% csrf_token %}
                                                <td><select name="update" required>
                                                    <option  > Select </option>
                                                    <option > Not Allotated </option>
                                                    <option > Allotated</option>
                                                </select>
                                                </td>
                                                
                                                <td><button type="submit"  class="btn btn-success" name="id" value="{{x.id}}">Update</button> </td>
                                            </form>
                                            <td>{{x.status}}</td>
                                            <form action="" method="POST">
                                              {% csrf_token %}
                                              <td>
                                              <input type="time" name="check_in_time" required>
                                              </td>
                                              
                                              <td><button type="submit"  class="btn btn-primary"  name="check_in_btn" value="{{x.id}}">Update</button> </td>
                                          </form>
                                          <td>{{x.check_in_time}}</td>
                                          <form action="" method="POST">
                                            {% csrf_token %}
                                            <td>
                                              <input type="time" name="check_out_time" required>
                                            </td>
                                            
                                            <td><button type="submit"  class="btn btn-warning"  name="check_out_btn" value="{{x.id}}">Update</button> </td>
                                        </form>
                                        <td>{{x.check_out_time}}</td>

                                               
                                               
                                           </tr>
                                          {% endfor %}
                                          
                                          
                                         
                                           
                                          
                                       </tbody>
                                        
                                        </table>
      
      
                                    </div>
                                
                            
                        
                    
                </div>
        
                </div>
        
        
                
              </div>
            </section>
        
          </main><!-- End #main -->
    

          

          
  

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">

      <div class="container">

        <div class="row  justify-content-center">
          <div class="col-lg-6">
            <h3>Fun Turf</h3>
            
          </div>
        </div>

        

        <div class="social-links">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          
          
        </div>

      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright" style="margin-left: 40%;">
        &copy; Copyright <strong><span>Fun Turf</span></strong>. All Rights Reserved
      </div>
      
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="bx bxs-up-arrow-alt"></i></a>



  <!-- Vendor JS Files -->
  <script src="{% static "vendor/jquery/jquery.min.js"%}""></script>
  <script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js"%}""></script>
  <script src="{% static "vendor/jquery.easing/jquery.easing.min.js"%}""></script>
  
  <script src="{% static "vendor/jquery-sticky/jquery.sticky.js"%}""></script>
  <script src="{% static "vendor/venobox/venobox.min.js"%}""></script>
  <script src="{% static "vendor/waypoints/jquery.waypoints.min.js"%}""></script>
  <script src="{% static "vendor/counterup/counterup.min.js"%}""></script>
  <script src="{% static "vendor/isotope-layout/isotope.pkgd.min.js"%}""></script>
  <script src="{% static "vendor/owl.carousel/owl.carousel.min.js"%}""></script>
  <script src="{% static "vendor/aos/aos.js"%}""></script>

  <!-- Template Main JS File -->
  <script src="{% static "js/main.js"%}""></script>



  <script>
    function show_alert() {
    if(!confirm("Do you want to log out?")) {
        return false;
        }
        this.form.submit();
    }
</script>
        
      
     
  
</body>
</html>