{% extends 'manager/partials/base.html' %}

{% load static %}
{% block content %}





        <div class="page-wrapper">
            <div class="content container-fluid">
                <div class="row">
                    
                    <div class="col-xl-6 col-sm-6 col-12">
                        <div class="card1">
                            <a href=""><div class="card-body">
                                <div class="dash-widget-header">
                                    <span class="dash-widget-icon bg-2">
                                        <i class="fa fa-building"></i>
                                    </span>
                                    <div class="dash-count">
                                        <div class="dash-title" ><a href="{% url 'manager:bookings' %}">Turf bookings</a></div>
                                        <div class="dash-counts">
                                            <p>{{turfs_count}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div></a>
                        </div>
                    </div>
                    <div class="col-xl-6 col-sm-6 col-12">
                        <div class="card2">
                            <a href=""><div class="card-body">
                                <div class="dash-widget-header">
                                    <span class="dash-widget-icon bg-3">
                                        <i class="fas fa-file-alt"></i>
                                    </span>
                                    <div class="dash-count">
                                        <div class="dash-title"><a href="{% url 'manager:booked_events' %}">Event bookings</a></div>
                                        <div class="dash-counts">
                                            <p>{{events_count}}</p>
                                        </div>
                                    </div>
                                </div>
                                </div></a>
                        </div>
                    </div>
                    
                    
                </div>
                
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title">Recent Bookings</h5>
                                    </div>
                                    <!-- <div class="col-auto">
                                        <a href="" class="btn-right btn btn-sm btn-outline-primary">
                                            View All
                                        </a>
                                    </div> -->
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-stripped table-hover datatable">
                                        <thead class="thead-light">
                                            <tr>
                                                <th>Booking ID</th>
                                                <th>User Name</th>
                                                <th>Turf</th>
                                                <th>Start</th>
                                                <th>End</th>
                                                
                                               
                                            </tr>
                                        </thead>
                                        <tbody>
        
                                            {% for book in bookings %}
                                            <tr>
                                                <td  > <a href="#" class="invoice-link">{{book.id}}</a> </td>
                                                <td>
                                                    <h2 class="table-avatar">
                                                        {{book.turf_user}}
                                                    </h2>
                                                </td>
                                                <td>{{book.turf}}</td>
                                                <td>{{ book.start_time }}</td>
                                                <td>{{ book.end_time }}</td>
                                                <!-- <td>{% if i.est_status == 'Billed'  %} <span class="badge badge-pill bg-success-light">{{ i.est_status }}</span> {% elif i.est_status == 'Partialy Paid' %} <span class="badge bg-danger-light">{{ i.est_status }}</span> {% elif i.est_status == 'Advanced' %} <span class="badge bg-warning-light">{{ i.est_status }}</span> {% elif i.est_status == 'Closed' %} <span class="badge bg-primary-light">{{ i.est_status }}</span>  {% elif i.est_status == 'Pending' %} <span class="badge bg-info-light">{{ i.est_status }}</span>  {% endif %}  </td> -->
                                                
                                            </tr>
                                            {% endfor %}
                                           
        
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-md-6 col-sm-6">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title">Recent Estimates</h5>
                                    </div>
                                    <div class="col-auto">
                                        <a href="" class="btn-right btn btn-sm btn-outline-primary">
                                            View All
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                               
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead class="thead-light">
                                            <tr>
                                                <th>Customer</th>
                                                <th>Expiry Date</th>
                                                <th>Amount</th>
                                                <th>Status</th>
                                                <th class="text-right">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <h2 class="table-avatar">
                                                        <a href=""><img
                                                                class="avatar avatar-sm me-2 avatar-img rounded-circle"
                                                                src="{% static 'accounts_admin/img/profiles/avatar-05.jpg' %}"
                                                                alt="User Image"> Greg Lynch</a>
                                                    </h2>
                                                </td>
                                                <td>5 Nov 2020</td>
                                                <td>$175</td>
                                                <td><span class="badge bg-info-light">Sent</span></td>
                                                <td class="text-right">
                                                    <div class="dropdown dropdown-action">
                                                        <a href="#" class="action-icon dropdown-toggle"
                                                            data-bs-toggle="dropdown" aria-expanded="false"><i
                                                                class="fas fa-ellipsis-h"></i></a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a class="dropdown-item" href="edit-invoice.html"><i
                                                                    class="far fa-edit me-2"></i>Edit</a>
                                                            <a class="dropdown-item" href="javascript:void(0);"><i
                                                                    class="far fa-trash-alt me-2"></i>Delete</a>
                                                            <a class="dropdown-item" href="view-estimate.html"><i
                                                                    class="far fa-eye me-2"></i>View</a>
                                                            <a class="dropdown-item" href="javascript:void(0);"><i
                                                                    class="far fa-file-alt me-2"></i>Convert to
                                                                Invoice</a>
                                                            <a class="dropdown-item" href="javascript:void(0);"><i
                                                                    class="far fa-check-circle me-2"></i>Mark as
                                                                sent</a>
                                                            <a class="dropdown-item" href="javascript:void(0);"><i
                                                                    class="far fa-paper-plane me-2"></i>Send
                                                                Estimate</a>
                                                            <a class="dropdown-item" href="javascript:void(0);"><i
                                                                    class="far fa-check-circle me-2"></i>Mark as
                                                                Accepted</a>
                                                            <a class="dropdown-item" href="javascript:void(0);"><i
                                                                    class="far fa-times-circle me-2"></i>Mark as
                                                                Rejected</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <h2 class="table-avatar">
                                                        <a href=""><img
                                                                class="avatar avatar-sm me-2 avatar-img rounded-circle"
                                                                src="{% static 'accounts_admin/img/profiles/avatar-06.jpg' %}"
                                                                alt="User Image"> Karlene Chaidez</a>
                                                    </h2>
                                                </td>
                                                <td>28 Oct 2020</td>
                                                <td>$1500</td>
                                                <td><span class="badge bg-warning-light">Expired</span></td>
                                                <td class="text-right">
                                                    <div class="dropdown dropdown-action">
                                                        <a href="#" class="action-icon dropdown-toggle"
                                                            data-bs-toggle="dropdown" aria-expanded="false"><i
                                                                class="fas fa-ellipsis-h"></i></a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a class="dropdown-item" href="edit-invoice.html"><i
                                                                    class="far fa-edit me-2"></i>Edit</a>
                                                            <a class="dropdown-item" href="javascript:void(0);"><i
                                                                    class="far fa-trash-alt me-2"></i>Delete</a>
                                                            <a class="dropdown-item" href="view-estimate.html"><i
                                                                    class="far fa-eye me-2"></i>View</a>
                                                            <a class="dropdown-item" href="javascript:void(0);"><i
                                                                    class="far fa-file-alt me-2"></i>Convert to
                                                                Invoice</a>
                                                            <a class="dropdown-item" href="javascript:void(0);"><i
                                                                    class="far fa-check-circle me-2"></i>Mark as
                                                                sent</a>
                                                            <a class="dropdown-item" href="javascript:void(0);"><i
                                                                    class="far fa-paper-plane me-2"></i>Send
                                                                Estimate</a>
                                                            <a class="dropdown-item" href="javascript:void(0);"><i
                                                                    class="far fa-check-circle me-2"></i>Mark as
                                                                Accepted</a>
                                                            <a class="dropdown-item" href="javascript:void(0);"><i
                                                                    class="far fa-times-circle me-2"></i>Mark as
                                                                Rejected</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <h2 class="table-avatar">
                                                        <a href=""><img
                                                                class="avatar avatar-sm me-2 avatar-img rounded-circle"
                                                                src="{% static 'accounts_admin/img/profiles/avatar-07.jpg' %}"
                                                                alt="User Image"> John Blair</a>
                                                    </h2>
                                                </td>
                                                <td>17 Oct 2020</td>
                                                <td>$2350</td>
                                                <td><span class="badge bg-success-light">Accepted</span></td>
                                                <td class="text-right">
                                                    <div class="dropdown dropdown-action">
                                                        <a href="#" class="action-icon dropdown-toggle"
                                                            data-bs-toggle="dropdown" aria-expanded="false"><i
                                                                class="fas fa-ellipsis-h"></i></a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a class="dropdown-item" href="edit-invoice.html"><i
                                                                    class="far fa-edit me-2"></i>Edit</a>
                                                            <a class="dropdown-item" href="javascript:void(0);"><i
                                                                    class="far fa-trash-alt me-2"></i>Delete</a>
                                                            <a class="dropdown-item" href="view-estimate.html"><i
                                                                    class="far fa-eye me-2"></i>View</a>
                                                            <a class="dropdown-item" href="javascript:void(0);"><i
                                                                    class="far fa-file-alt me-2"></i>Convert to
                                                                Invoice</a>
                                                            <a class="dropdown-item" href="javascript:void(0);"><i
                                                                    class="far fa-check-circle me-2"></i>Mark as
                                                                sent</a>
                                                            <a class="dropdown-item" href="javascript:void(0);"><i
                                                                    class="far fa-paper-plane me-2"></i>Send
                                                                Estimate</a>
                                                            <a class="dropdown-item" href="javascript:void(0);"><i
                                                                    class="far fa-check-circle me-2"></i>Mark as
                                                                Accepted</a>
                                                            <a class="dropdown-item" href="javascript:void(0);"><i
                                                                    class="far fa-times-circle me-2"></i>Mark as
                                                                Rejected</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <h2 class="table-avatar">
                                                        <a href=""><img
                                                                class="avatar avatar-sm me-2 avatar-img rounded-circle"
                                                                src="{% static 'accounts_admin/img/profiles/avatar-08.jpg' %}"
                                                                alt="User Image"> Russell Copeland</a>
                                                    </h2>
                                                </td>
                                                <td>8 Oct 2020</td>
                                                <td>$1890</td>
                                                <td><span class="badge bg-success-light">Accepted</span></td>
                                                <td class="text-right">
                                                    <div class="dropdown dropdown-action">
                                                        <a href="#" class="action-icon dropdown-toggle"
                                                            data-bs-toggle="dropdown" aria-expanded="false"><i
                                                                class="fas fa-ellipsis-h"></i></a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a class="dropdown-item" href="edit-invoice.html"><i
                                                                    class="far fa-edit me-2"></i>Edit</a>
                                                            <a class="dropdown-item" href="javascript:void(0);"><i
                                                                    class="far fa-trash-alt me-2"></i>Delete</a>
                                                            <a class="dropdown-item" href="view-estimate.html"><i
                                                                    class="far fa-eye me-2"></i>View</a>
                                                            <a class="dropdown-item" href="javascript:void(0);"><i
                                                                    class="far fa-file-alt me-2"></i>Convert to
                                                                Invoice</a>
                                                            <a class="dropdown-item" href="javascript:void(0);"><i
                                                                    class="far fa-check-circle me-2"></i>Mark as
                                                                sent</a>
                                                            <a class="dropdown-item" href="javascript:void(0);"><i
                                                                    class="far fa-paper-plane me-2"></i>Send
                                                                Estimate</a>
                                                            <a class="dropdown-item" href="javascript:void(0);"><i
                                                                    class="far fa-check-circle me-2"></i>Mark as
                                                                Accepted</a>
                                                            <a class="dropdown-item" href="javascript:void(0);"><i
                                                                    class="far fa-times-circle me-2"></i>Mark as
                                                                Rejected</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <h2 class="table-avatar">
                                                        <a href=""><img
                                                                class="avatar avatar-sm me-2 avatar-img rounded-circle"
                                                                src="{% static 'accounts_admin/img/profiles/avatar-09.jpg' %}"
                                                                alt="User Image"> Leatha Bailey</a>
                                                    </h2>
                                                </td>
                                                <td>30 Sep 2020</td>
                                                <td>$785</td>
                                                <td><span class="badge bg-success-light">Accepted</span></td>
                                                <td class="text-right">
                                                    <div class="dropdown dropdown-action">
                                                        <a href="#" class="action-icon dropdown-toggle"
                                                            data-bs-toggle="dropdown" aria-expanded="false"><i
                                                                class="fas fa-ellipsis-h"></i></a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a class="dropdown-item" href="edit-invoice.html"><i
                                                                    class="far fa-edit me-2"></i>Edit</a>
                                                            <a class="dropdown-item" href="javascript:void(0);"><i
                                                                    class="far fa-trash-alt me-2"></i>Delete</a>
                                                            <a class="dropdown-item" href="view-estimate.html"><i
                                                                    class="far fa-eye me-2"></i>View</a>
                                                            <a class="dropdown-item" href="javascript:void(0);"><i
                                                                    class="far fa-file-alt me-2"></i>Convert to
                                                                Invoice</a>
                                                            <a class="dropdown-item" href="javascript:void(0);"><i
                                                                    class="far fa-check-circle me-2"></i>Mark as
                                                                sent</a>
                                                            <a class="dropdown-item" href="javascript:void(0);"><i
                                                                    class="far fa-paper-plane me-2"></i>Send
                                                                Estimate</a>
                                                            <a class="dropdown-item" href="javascript:void(0);"><i
                                                                    class="far fa-check-circle me-2"></i>Mark as
                                                                Accepted</a>
                                                            <a class="dropdown-item" href="javascript:void(0);"><i
                                                                    class="far fa-times-circle me-2"></i>Mark as
                                                                Rejected</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>

 

   {% endblock %}


   {% block js %}
    <!--  -->

   {% endblock %}