{% extends 'app1/partials/base.html' %}
{% load static %}

{% block content %}

<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Turf List</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb"><a href=""> Turf List</a>
                        </li>
                        <li class="breadcrumb active"> / View Turfs</li>
                    </ul>
                </div>
                <div class="col-auto">
                    <a href="{% url 'main_admin:add_manager' %}" class="btn btn-primary me-1">
                        <i class="fas fa-plus"></i>
                    </a>
                    <!-- <a class="btn btn-primary filter-btn" href="javascript:void(0);" id="filter_search">
                        <i class="fas fa-filter"></i>
                    </a> -->
                </div>
            </div>
        </div>


        <div id="filter_inputs" class="card filter-card">
            <div class="card-body pb-0">
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <label>Phone</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-center table-hover datatable">
                                <thead class="thead-light">

                                    <tr>
                                        <th>Turf Name</th>
                                        <th>User Name</th>
                                        <th>User Email</th>
                                      

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for bookings in bookings %}
                                    <tr>
                                        <td>
                                            <h2 class="">

                                                <a href="">{{bookings.turf}} </a>
                                            </h2>
                                        </td>
                                        <td>{{bookings.turf_user}}
                                        </td>
                                        <td>

                                            {{bookings.turf_user.email}}
                                        </td>
                                        

                                    </tr>




                                </tbody>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block js %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    function franchiseDelete(id) {
        
        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover this user!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    swal("Poof! This user has been deleted!", {
                        icon: "success",
                    });
                    setTimeout(function () {
                        window.location.href = "/accounts_admin/markmandelete/" + id
                    }, 1000);
                } else {
                    swal("It's is safe!");
                }
            });
    }


</script>
{% endblock %}