
{% load static %}

<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title"><span>Main</span></li>
                <li {% if is_home %} class="active"{% endif %}>
                    <a href="{% url 'main_admin:home' %}"> <i class="material-icons">home</i><span>Dashboard</span></a>
                </li>
                <li {% if is_franchisees %} class="submenu active"{% endif %}>
                    <a href="#"><i class="material-icons">groups</i><span>Manager</span> <span
                            class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url 'main_admin:add_manager' %}">Add Manager</a></li>
                        <li><a href="{% url 'main_admin:view_manager' %}">View Manager</a></li>
                       
                    </ul>
                </li>
                <li {% if is_users %} class="submenu active"{% endif %}>
                    <a href="#"><i class="material-icons">person</i><span> Turf</span> <span
                            class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url 'main_admin:add_turf' %}">Add Turf</a></li> 
                        <li><a href="">Turf List</a></li>                      
                    </ul>
                </li>

                <li {% if is_sitereport %} class="active" {% endif %}>
                    <a href=""><i class="material-icons">assignment</i> <span>Manage Turf</span></a>
                </li>
               
                
            </ul>
        </div>
    </div>
</div>

{% block js %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock %}