{% load static %}

<div class="header header-one">

    <div class="header-left header-left-one">
        <a href="{% url 'manager:index' %}" class="logo">
            <img src="{% static 'img/Turfit-logo.png' %}" alt="Logo">
        </a>
        <a href="{% url 'manager:index' %}" class="white-logo">
            <img src="{% static 'img/Turfit-logo.png' %}" alt="Logo">
        </a>
        <a href="{% url 'manager:index' %}" class="logo logo-small">
            <img src="{% static 'img/Turfit-logo.png' %}" alt="Logo" width="30" height="30">
        </a>
    </div>


    <a href="javascript:void(0);" id="toggle_btn">
        <i class="fas fa-bars"></i>
        <h4 style="padding-top: 13px;padding-left: 20px;">Manager</h4>
    </a>

<!--  -->
   


    <a class="mobile_btn" id="mobile_btn">
        <i class="fas fa-bars"></i>
    </a>


    <ul class="nav nav-tabs user-menu">

       


       

        <li class="nav-item dropdown has-arrow main-drop">
            <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                <span class="user-img">
                    <img src="{% static 'img/profiles/avatarimage.png' %}" alt="">
                    <span class="status online"></span>
                </span>
                <span>  </span>
            </a>
            <div class="dropdown-menu">
                <!-- <a class="dropdown-item" href="profile.html"><i data-feather="user" class="me-1"></i>
                    Profile</a>
                <a class="dropdown-item" href="settings.html"><i data-feather="settings" class="me-1"></i>
                    Settings</a> -->
                <a class="dropdown-item" href="{% url 'website:logout' %}"><i data-feather="log-out" class="me-1"></i>
                    Logout</a>
            </div>
        </li>

    </ul>

</div>

{% block js %}



{% endblock %}