
{% load static %}

<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title"><span>Main</span></li>
                <li {% if is_home %} class="active"{% endif %}>
                    <a href="{% url 'manager:index' %}"> <i class="material-icons">home</i><span>Dashboard</span></a>
                </li>
                
                <li {% if is_users %} class="submenu active"{% endif %}>
                    <a href="#"><i class="material-icons">person</i><span> Turf</span> <span
                            class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url 'manager:add_turf' %}">Add Turf</a></li> 
                        <li><a href="{% url 'manager:view_turf' %}">Turf List</a></li>                      
                    </ul>
                </li>

                <li {% if is_users %} class="submenu active"{% endif %}>
                    <a href="#"><i class="material-icons">person</i><span> Events</span> <span
                            class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url 'manager:add_event' %}">Add Event</a></li> 
                        <li><a href="{% url 'manager:view_events' %}">View Events</a></li> 
                        <li><a href="{% url 'manager:booked_events' %}">Event Bookings</a></li>                  
                    </ul>
                </li>

                <li {% if is_sitereport %} class="active" {% endif %}>
                    <a href="{% url 'manager:bookings' %}"><i class="material-icons">assignment</i> <span>Bookings</span></a>
                </li>
               
                
            </ul>
        </div>
    </div>
</div>

{% block js %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock %}