{% load static %}


    <!-- ==== footer start ==== -->
    <footer class="footer">
        <div class="container">
            <div class="row section__row">
                <div class="col-md-6 col-lg-4 col-xl-3 section__col">
                    <div class="footer__single">
                        <a href="{% url 'turfuser:index' %}" class="footer__single-logo">
                           <h4 style="color: rgb(138, 229, 112);">TURFiT</h4>
                        </a>
                        <div class="footer__single-content">
                            <p>the best way to perform your sports skills through games</p>
                            <div class="social">
                                <a href="#">
                                    <i class="fa-brands fa-facebook-f"></i>
                                </a>
                                <a href="#">
                                    <i class="fa-brands fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fa-brands fa-square-instagram"></i>
                                </a>
                                <a href="#">
                                    <i class="fa-brands fa-linkedin-in"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2 col-xl-3 section__col">
                    <div class="footer__single">
                        <h5>Quick Links</h5>
                        <div class="footer__single-content">
                            <ul>
                                <li><a href="{% url 'turfuser:index' %}">Home</a></li>
                                <li><a href="{% url 'turfuser:about' %}">About Us</a></li>
                                <li><a href="{% url 'turfuser:events' %}">Events</a></li>
                                <li><a href="{% url 'turfuser:turfs' %}">Turfs</a></li>
                                <li><a href="{% url 'turfuser:contact' %}">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 col-xl-3 section__col">
                    <div class="footer__single">
                        <h5>Address</h5>
                        <div class="footer__single-content">
                            <div class="footer__single-content__group">
                                <p>+91 9201234565</p>
                                <p>+91 8075456565</p>
                            </div>
                            <div class="footer__single-content__group">
                                <p><a href="https://gmail.com">turfitsupport@gmail.com</a></p>
                                <p><a href="https://gmail.com">turfitcomplaints@gmail.com</a></p>
                            </div>
                            <div class="footer__single-content__group">
                                <p><b>Turf owners association</b></p></p>
                                <p>NH 66 near G mall,Kannur</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 col-xl-3 section__col">
                    <h5>Newsletter</h5>
                    <div class="footer__single">
                        <div class="footer__single-content">
                            <p>Subscribe our newsletter to get our latest update & news </p>
                            <form action="#" method="post" name="newsletterForm">
                                <div class="newsletter">
                                    <input type="email" name="news-mail" id="newsMail" placeholder="Your email address"
                                        required>
                                    <button type="submit">
                                        <i class="golftio-paper-plane"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-12">
                    <div class="copyright">
                        <div class="row align-items-center">
                            <div class="col-lg-6">
                                <p>Copyright &copy; <span id="copyYear"></span>  All Rights Reserved </p>
                            </div>
                            <div class="col-lg-6">
                                <ul>
                                    <li><a href="https://gmail.com">Support</a></li>
                                    <li><a href="terms-conditions.html">Terms of Use</a></li>
                                    <li><a href="privacy-policy.html">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ==== / footer end ==== -->